<!--<footer class="">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-6 text-left">
                <h6 class="text-muted lead">CONTACTO:</h6>
                <h6 class="text-muted">
                Carrera 8h No. 166-71 Local 2<br>
                Santa Cruz de la Ronda.<br>
                Teléfonos: 3115988953 – 3112641818.<br>
                </h6>
            </div>

            <div class="col-xs-12 col-md-6 text-right">
                <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
                <div class="redes-footer">
                    <a href="https://www.facebook.com/"><img src="imagenes/facebook-2.png"></a>
                    <a href="https://twitter.com/"><img src="imagenes/twitter-2.png"></a>
                    <a href="https://www.youtube.com/"><img src="imagenes/youtube-2.png"></a>
                </div>
            </div>

        </div>
    </div>
</footer>-->

<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-left">
    <div class="container">
    <ul class="list-inline">
        <li class="list-inline-item"><a href="https://github.com/twbs">GitHub</a></li>
        <li class="list-inline-item"><a href="https://twitter.com/getbootstrap">Twitter</a></li>
        <li class="list-inline-item"><a href="https://getbootstrap.com/docs/5.0/about/overview/">About</a></li>
    </ul>
    <p>Currently <a href="https://github.com/twbs/icons/releases/tag/v1.5.0">v1.5.0</a>. Icons and documentation licensed <a href="https://github.com/twbs/icons/blob/main/LICENSE.md" target="_blank" rel="license noopener">MIT</a>.</p>
    </div>
</footer>

