<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-left">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://github.com/Jonatan-stack/ProyectoGrado">GitHub</a></li>
            <li class="list-inline-item"><a href="https://stackoverflow.com/">StackoverFlow</a></li>
            <li class="list-inline-item"><a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">Google</a></li>
        </ul>
        <p>Puedes acceder la memoria del proyecto desde <a href="https://drive.google.com/file/d/16Vk1aNaBsvE_NMOpmN2l6P93IE8qGnLb/view?usp=sharing">Aqui</a>.</p>
    </div>
</footer>

