.container{
    min-height: calc(100vh - 150px);
    padding-bottom: 2em;
}
.scroll {
    max-height: 500px;
    overflow-y: auto;
}
.scrollEstadisticas {
    max-height: 280px;
    overflow-y: auto;
}
.interior{
    padding: 10px;
}
.addCursoAddAsignatura{
    margin: 5px;
}
.addButton{
    margin: 5px;
}