<div class="container">
    <div class="row">
      <ng-container  *ngIf="usuario?.role == 'Alumno'; else administracion">
        <div class="col-md-4 mx-auto mt-5">
           <div class="card">
            <div class="card-header">
                <h5 class="card-header-text">{{ usuario?.role }}</h5>
             </div>
             <div class="card-block">
                <div class="interior">
                  <p><b>Nombre:</b> {{ usuario?.displayName }}</p>
                  <p><b>Telefono:</b> {{ usuario?.telefono }}</p>
                  <p><b>DNI:</b> {{ usuario?.dni }}</p>
                  <p><b>Email:</b> {{ usuario?.email }}</p>
                  <p><b>UID:</b> {{ usuario?.uid }}</p>
                </div>
             </div>
          </div>
        </div>
        
        <div class="col-lg-8 mx-auto mt-5">
            <div class="card scrollEstadisticas">
               <div class="card-header">
                  <h5 class="card-header-text">Estadisticas</h5>
               </div>
               <h6>Horas faltadas a las asignaturas: </h6>
               <div class="interior">
                  <div class="card-block" *ngFor="let asignatura of usuario?.asignaturas; let i = index;">
                     <p>{{ asignatura}}: <b>{{stadisticas[i]}}</b> horas</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-lg-12 mx-auto mt-5">
            <div class="card scroll">
               <div class="card-header">
                  <h5 class="card-header-text">Asistencia</h5>
               </div>
               <p>Has faltado un total de: {{ totalFaltas }} horas</p>

               <ngb-accordion #acc="ngbAccordion" *ngFor="let falta of faltas">
                  <ngb-panel title="{{ falta.fecha }} || {{ falta.asignatura }} || {{ falta.profesor }}">
                    <ng-template ngbPanelContent>
                       <ng-container *ngIf = "falta.justificada == false; else justificada">
                           <h5>Mandar Justificante:</h5>
                           <div class="custom-file">
                              <input type="file" class="custom-file-input" accept="application/pdf" id="file" name="file" (change)="enviarArchivo($event.target.files)" required>
                              <label class="custom-file-label" for="validatedCustomFile" >{{ file?.name }}</label>
                              <button type="button" class="btn btn-outline-primary btn-sm" [disabled]="subido" (click)="obtenerUrlArchivo(falta, falta.mailProfesor)">Enviar</button>
                           </div>
                       </ng-container>
                       <ng-template #justificada>
                           <div class="label" fxFlex="30">
                              Justificante Enviado
                           </div>
                       </ng-template>
                    </ng-template>
                  </ngb-panel>
               </ngb-accordion>

            </div>
         </div>
      </ng-container>

      <!--ESTA ZONA ES PARA ADMIN y PROFESOR-->

      <ng-template #administracion>

         <div class="col-md-4 mx-auto mt-5">
            <div class="card">
             <div class="card-header">
                 <h5 class="card-header-text">{{ usuario?.role }}</h5>
              </div>
              <div class="card-block">
                  <div class="interior">
                     <p><b>Nombre:</b> {{ usuario?.displayName }}</p>
                     <p><b>Telefono:</b> {{ usuario?.telefono }}</p>
                     <p><b>DNI:</b> {{ usuario?.dni }}</p>
                     <p><b>Email:</b> {{ usuario?.email }}</p>
                     <p><b>UID:</b> {{ usuario?.uid }}</p>
                  </div>
              </div>
           </div>
         </div>

         <ng-template #profesor>
            <div class="col-lg-12 mx-auto mt-5">
               <div class="card scroll">
                  <div class="card-header">
                     <h5 class="card-header-text">Faltas</h5>
                  </div>

                  <div class="card-block">
                     <ul ngbNav #nav="ngbNav" class="nav-tabs">
                        <li ngbNavItem>
                          <a ngbNavLink>Sin Justificar</a>
                          <ng-template ngbNavContent>
                              <table class="table table-striped ">
                                 <thead>
                                    <tr class="text-center">
                                       <th scope="col">Fecha</th>
                                       <th scope="col">Asignatura</th>
                                       <th scope="col">Alumno</th>
                                       <th scope="col"></th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr class="text-center" *ngFor="let falta of profesorFaltas">
                                       <ng-container *ngIf="falta.justificada == false">
                                          <td>{{ falta.fecha }}</td>
                                          <td>{{ falta.asignatura }}</td>
                                          <td>{{ falta.alumno }}</td>
                                          <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="eliminarFalta(falta)">Borrar</button></td>
                                       </ng-container>
                                    </tr>
                                 </tbody>
                              </table>
                          </ng-template>
                        </li>
                        <li ngbNavItem>
                          <a ngbNavLink>Justificadas</a>
                          <ng-template ngbNavContent>
                           <table class="table table-striped ">
                              <thead>
                                 <tr class="text-center">
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Asignatura</th>
                                    <th scope="col">Alumno</th>
                                    <th scope="col"></th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr class="text-center" *ngFor="let falta of profesorFaltas">
                                    <ng-container *ngIf="falta.justificada == true">
                                       <td>{{ falta.fecha }}</td>
                                       <td>{{ falta.asignatura }}</td>
                                       <td>{{ falta.alumno }}</td>
                                       <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="eliminarFalta(falta)">Borrar</button></td>
                                    </ng-container>
                                 </tr>
                              </tbody>
                           </table>
                          </ng-template>
                        </li>
                      </ul>
                      
                      <div [ngbNavOutlet]="nav" class="mt-2"></div>
                  </div>

               </div>
            </div>
         </ng-template>

         <ng-container  *ngIf="usuario?.role == 'ADMIN'; else profesor">
            <div class="col-lg-12 mx-auto mt-5">
               <div class="card scroll">
                  <div class="card-header">
                     <h5 class="card-header-text">Administracion</h5>
                  </div>
                  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                     <li [ngbNavItem]="1">
                     <a ngbNavLink>Alumnos</a>
                     <ng-template ngbNavContent>
                        <table class="table table-striped ">
                           <thead>
                              <tr class="text-center">
                                 <th scope="col">Nombre</th>
                                 <th scope="col">DNI</th>
                                 <th scope="col">Telefono</th>
                                 <th scope="col"></th>
                              </tr>
                           </thead>
                           <ng-container>
                              <tbody>
                                 <tr class="text-center" *ngFor="let x of usuarios">
                                    <ng-container *ngIf="x.role == 'Alumno'">
                                       <td>{{ x.displayName }}</td>
                                       <td>{{ x.dni }}</td>
                                       <td>{{ x.telefono }}</td>
                                       <td><button type="button" class="btn btn-outline-danger" (click)="eliminarUsuario(x.uid)">Eliminar</button></td>
                                    </ng-container>
                                 </tr>
                              </tbody>
                           </ng-container>
                        </table>
                     </ng-template>
                     </li>
                     <li [ngbNavItem]="2">
                     <a ngbNavLink>Profesores</a>
                     <ng-template ngbNavContent>
                        <table class="table table-striped ">
                              <thead>
                                 <tr class="text-center">
                                    <th scope="col">Nombre</th>
                                    <th scope="col">DNI</th>
                                    <th scope="col">Telefono</th>
                                    <th scope="col"></th>
                                 </tr>
                              </thead>
                           <ng-container>
                              <tbody>
                                 <tr class="text-center" *ngFor="let x of usuarios">
                                    <ng-container *ngIf="x.role == 'Profesor'">
                                       <td>{{ x.displayName }}</td>
                                       <td>{{ x.dni }}</td>
                                       <td>{{ x.telefono }}</td>
                                       <td><button type="button" class="btn btn btn-outline-danger" (click)="eliminarUsuario(x.uid)">Eliminar</button></td>
                                    </ng-container>
                                 </tr>
                              </tbody>
                           </ng-container>
                        </table>
                     </ng-template>
                     </li>
                     <li [ngbNavItem]="3">
                     <a ngbNavLink>Cursos</a>
                     <ng-template ngbNavContent>

                        <ngb-accordion #acc="ngbAccordion" *ngFor="let a of cursos">
                           <ngb-panel>
                              <ng-template ngbPanelHeader>
                                 <div class="d-flex align-items-center justify-content-between">
                                   <h5 class="m-0">{{ a.id }}</h5>
                                   <div>
                                       <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Desplegar</button>
                                       <button class="btn btn-sm btn btn-outline-danger ml-2" (click)="eliminarClase(a.id)">Eliminar Curso</button>
                                   </div>
                                 </div>
                               </ng-template>
                              <ng-template ngbPanelContent>
                                 <ng-container>
                                    <div class="custom-file">
                                       <ol>
                                          <li  *ngFor="let j of a.Asignaturas; let indice=index">
                                             {{ j }}
                                             <button type="button" class="btn btn btn-outline-danger btn-sm" (click)="eliminarAsignatura(a, indice)">Eliminar Asignatura</button>
                                          </li>
                                       </ol>
                                    </div>
                                 </ng-container>
                              </ng-template>
                           </ngb-panel>
                        </ngb-accordion>

                     </ng-template>
                     </li>
                     <li [ngbNavItem]="4">
                        <a ngbNavLink>Anyadir Clase/Curso</a>
                        <ng-template ngbNavContent>

                           <div>
                              <h4>Anyadir Asignatura</h4>
                              <label class="mr-4">Nombre del Curso: </label>
                              <input type="text" id="addCursoID" name="addCursoNombre">
                              <button type="button" class="btn btn-primary btn-sm" (click)="anyadirClase()">Add curso</button>
                           </div>
                           <div>
                              <h4>Anyadir Asignatura</h4>
                              <label class="mr-4">Nombre de la Asignatura: </label>
                              <input type="text" id="addAsignaturaID" name="addAsignaturaNombre">
                              <select class="form-control" id="asignaturaSelect" [(ngModel)] = "filterAsignatura" (change)="onChangeClase($event.target.value)">
                                 <option *ngFor="let curso of cursos">
                                    {{curso.id}}
                                 </option>
                           </select>
                              <button type="button" class="btn btn-primary btn-sm" (click)="anyadirAsignatura()">Add Asignatura</button>
                           </div>
                        </ng-template>
                     </li>
                  </ul>
                  
                  <div [ngbNavOutlet]="nav" class="mt-2"></div>
               </div>
            </div>
         </ng-container>

       </ng-template>
     </div>
</div>
