<nav class="navbar navbar-expand-md navbar-light bg-light justify-content-between">
  <a class="navbar-brand" routerLink="/home">PFC
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
      <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
      <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
    </svg>
  </a>

  <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation" aria-expanded="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
      <div class="container-fluid">
        <ng-container  *ngIf="user$ | async as user; else login">
          <div class="navbar-nav">
          </div>
          <ul class="navbar-nav d-flex">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item" ngbDropdown>
              <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button" >
                {{ user?.email }}
              </a>
              <ng-container *ngIf="rol != 'Alumno'; else alumnoMenu">
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu" *ngIf="user">
                  <a ngbDropdownItem href="#" routerLink="/listaAlumnos" class="item">Lista de alumnos</a>
                  <a ngbDropdownItem href="#" routerLink="/selectClases" class="item">Seleccion de Clases</a>
                  <a ngbDropdownItem href="#" (click)="onLogout()" class="logout">Logout 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor logout" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                      <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                    </svg>
                  </a>
                </div>
              </ng-container>
              <ng-template #alumnoMenu>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu" *ngIf="user">
                  <a ngbDropdownItem href="#" routerLink="/selectClases" class="item">Seleccion de Clases</a>
                  <a ngbDropdownItem href="#" (click)="onLogout()" class="logout">Logout 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor " class="bi bi-box-arrow-in-left " viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                      <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                    </svg>
                  </a>
                </div>
              </ng-template>
            </li>
          </ul>
        </ng-container>
          <ng-template #login>
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/registro">Register</a>
              </li>
            </ul>
          </ng-template>
      </div>
  </div>
</nav>  