<div class="container ">
    <h2>Listas de alumnos:</h2>
        <div class = "interior mx-auto mt-5">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group">
                            <select class="form-control" id="asignaturaSelect" [(ngModel)] = "filterAsignatura" (change)="onChangeClase($event.target.value)">
                                <option disabled selected value=""> Seleccione una asignatura </option>
                                <option *ngFor="let asignatura of asignaturasProfesor">
                                    {{asignatura}}
                                </option>
                            </select>
                            <select class="form-control" id="cursoSelect" [(ngModel)] = "filterCurso" (change)="onChangeCurso($event.target.value)">
                                <option disabled selected value=""> Seleccione un curso </option>
                                <option *ngFor="let clase of cursosProfesor">
                                    {{ clase }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Nombre</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Falta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let usuario of alumnos | filter:filterCurso | filter:filterAsignatura ">
                        <ng-container *ngIf="(usuario.role == 'Alumno' && incluyeAmbos(usuario.asignaturas, usuario.cursos))">
                            <td>{{usuario.displayName}}</td>
                            <td>{{usuario.dni}}</td>
                            <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="ponerFalta(usuario)">Falta</button></td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    

</div>