<div class="container">

    <div class="form-group">
        <select class="form-control" id="asignaturaSelect" [(ngModel)] = "filterAsignatura">
            <option *ngFor="let asignatura of asignaturasProfesor">
                {{asignatura}}
            </option>
        </select>
        <select class="form-control" id="cursoSelect" [(ngModel)] = "filterCurso">
            <option *ngFor="let clase of clases">
                {{ clase.id }}
            </option>
        </select>
    </div>

    <table class="table table-striped table-bordered">
        <tr class="text-center">
            <td>Nombre</td>
            <td>DNI</td>
            <td>Falta</td>
        </tr>
        <tr class="text-center" *ngFor="let usuario of alumnos | filter:filterAsignatura | filter:filterCurso">
            <ng-container *ngIf="(usuario.role == 'Alumno')">
                <td>{{usuario.displayName}}</td>
                <td>{{usuario.dni}}</td>
                <td><button type="button" class="btn btn-primary">Falta</button></td>
            </ng-container>
        </tr>
    </table>
</div>